* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

html {
  font-size: 62.5%; /* 62.5% de 16px = 10px */
}

body {
  background-color: var(--bg-primary-color);
}

a {
  text-decoration: none;
}

:root {
  /*var fonts*/
  --font-family: "Inter", sans-serif;

  --title-lg: 700 3.2rem/3.2 var(--font-family);
  --title-md: 700 2.5rem/3.2 var(--font-family);

  --label-lg: 600 1.6rem/2 var(--font-family);
  --label-md: 600 1.6rem/2 var(--font-family);

  --paragraph-lg: 500 1.6rem/2 var(--font-family);
  --paragraph-md: 500 1.6rem/2 var(--font-family);

  --link-lg: 500 1.4rem/1.6 var(--font-family);
  --link-md: 500 1.4rem/1.6 var(--font-family);

  --text-lg: 500 1.7rem/1.6 var(--font-family);
  --text-md: 500 1.4rem/1.6 var(--font-family);

  /*var colors*/
  --bg-primary-color: #f4f5fb;
  --bg-secondary-color: #ffffff;

  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;

  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;
  --always-white: #ffffff;

  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;
}
