header {
  display: flex;
  flex-direction: column;

  padding-top: 3rem;
}

header h1 {
  font: var(--title-md);
}

.backBttn {
  font: var(--link-md);
  color: var(--color-brand);

  display: flex;
  column-gap: 0.5rem;
  width: 57px;
  height: 16px;

  & span {
    display: flex;
    align-items: center;
    height: 100%;
  }
  & img {
    height: 100%;
  }
}

@media (min-width: 80em) {
  header h1 {
    font: var(--title-lg);
  }
}
