.container {
  width: 100%;
  max-width: 1280px;

  padding-inline: 3.2rem;
  margin: auto;
}

.bttn-add-item {
  font: var(--text-md);
  color: var(--always-white);
  text-align: center;

  margin-block: 1.6rem;
  width: 100%;
  padding-block: 1.2rem;

  border: none;
  border-radius: 1.2rem;
  background-color: var(--color-brand);

  cursor: pointer;
  transition: 0.5s;
}

.bttn-add-item:hover {
  font: var(--text-md);
  color: var(--always-white);
  text-align: center;

  margin-block: 1.6rem;
  width: 100%;
  padding-block: 1.2rem;

  border: none;
  border-radius: 1.2rem;
  background-color: var(--color-brand-hover);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-12 {
  row-gap: 1.2rem;
}

#alert-icon {
  filter: brightness(0) invert(1);
}

#delete-icon {
  filter: brightness(0) invert(1);
}

.show-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem;
  font: var(--paragraph-md);
  list-style: none;
  background-color: var(--bg-secondary-color);
  border-radius: 1.2rem;
  flex-wrap: nowrap;

  & input[type="checkbox"] {
    display: none;
  }

  & label {
    cursor: pointer;
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    flex-shrink: 0;
    display: block;
  }

  & span {
    flex-grow: 1;
    min-width: 0;
    line-height: 2.2rem;
  }

  & img {
    flex-shrink: 0;

    cursor: pointer;
  }

  & label {
    cursor: pointer;
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
  }

  & label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-primary);
    border-radius: 0.6rem;
    transition: border-color 0.2s ease;
    box-sizing: border-box; /* ✅ 
  }

  & label:hover::before {
    border-color: var(--border-hover); /* ou qualquer cor que você quiser */
  }

  & input[type="checkbox"]:checked + label:hover::before {
    border-color: var(
      --color-brand
    ); /* Mantém a cor da marca ou muda se preferir */
    filter: brightness(1.1); /* Opcional: deixa um pouco mais claro */
  }

  & label::after {
    content: "✓";
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--always-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & input[type="checkbox"] {
    display: none;
  }

  & input[type="checkbox"]:checked + label::before {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
  }

  & input[type="checkbox"]:checked + label::after {
    opacity: 1;
  }
}

@media (min-width: 80em) {
  .container {
    padding-inline: 370px;
  }
}
